<div class="row">
  <div class="col md-4"    *ngFor="let player of team">
      <div class="card">
  <div class="ds-top"></div>
  <div class="avatar-holder">

    <img src="{{ player.avatar }}" alt="">

    <img src="" alt="">
  </div>
  <div class="name">
    <a href="" target="_blank">{{player.name}}</a>
    <h6 title="Followers"><i class="fas fa-users"></i> <span class="followers">{{player.nick_name}}</span></h6>
  </div>
 
  <div class="ds-info">
    <div class="ds posts">
      <h6 title="Number of posts">Patente<i class="fas fa-comments"></i><p> </p></h6>
      <p>{{player.patente}}</p>
    </div>
    <div class="ds posts">
      <h6 title="Number of posts">Função<i class="fas fa-comments"></i><p> </p></h6>
      <p>{{player.role}}</p>
    </div>
    <div class="ds posts">
      <h6 title="Number of posts">ADR<i class="fas fa-comments"></i><p> </p></h6>
      <p>{{player.adr}}</p>
    </div>
  </div>



  <div class="ds-skill">
    <h6>Skill <i class="fa fa-code" aria-hidden="true"></i></h6>

    <div class="skill html">
      <h6><i class="fab fa-html5"></i>Head Shot</h6>
      <div class="bar bar-html">
        <p>{{player.head}}%</p>
      </div>
    </div>

    <div class="skill css">
      <h6><i class="fab fa-css3-alt"></i>Taxa de Vitórias </h6>
      <div class="bar bar-css">
        <p>{{player.vitoria}}%</p>

      </div>
    </div>
  </div>
</div>
