
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Dudu Tavares</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://scontent.fsjk6-1.fna.fbcdn.net/v/t1.6435-9/127714082_427312121988594_914727577041099613_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=19026a&_nc_ohc=sdnnXKEX_G0AX_WqdFc&_nc_ht=scontent.fsjk6-1.fna&oh=337cd5f1708dd70e2bcdfa03500de3c9&oe=60971FEE" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Tr1pa</h6>
                    <p class="text-muted">Sniper</p>
                    <hr>
                    <p class="text-muted m-t-15">Taxa de Vitórias  : 71%</p>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-comment"></i>
                                <p>1256</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-user"></i>
                                <p>8562</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-suitcase"></i>
                                <p>189</p>
                            </div>
                        </div>
                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Nome</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Nome</h6>
                    <p class="text-muted">Função</p>
                    <hr>
                    <p class="text-muted m-t-15">Taxa de Vitórias : 73%</p>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="bg-c-green counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-comment"></i>
                                <p>1256</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-user"></i>
                                <p>8562</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-suitcase"></i>
                                <p>189</p>
                            </div>
                        </div>
                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4">
          <div class="card user-card">
              <div class="card-header">
                  <h5>Bruno do Santos</h5>
              </div>
              <div class="card-block">
                  <div class="user-image">
                      <img src="https://scontent.fsjk6-1.fna.fbcdn.net/v/t1.18169-9/14915173_1138139569555735_6345588143011620142_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=FGcJEKVfA5AAX_ddP1n&_nc_ht=scontent.fsjk6-1.fna&oh=49478e5fc66977ca0f88bc19d1ffb371&oe=6096B73E">
                  </div>
                  <h6 class="f-w-600 m-t-25 m-b-10">Vyolla</h6>
                  <p class="text-muted">Função</p>
                  <hr>
                  <p class="text-muted m-t-15">Taxa de Vitórias : 73%</p>
                  <ul class="list-unstyled activity-leval">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
                      <li></li>
                      <li></li>
                  </ul>
                  <div class="bg-c-green counter-block m-t-10 p-20">
                      <div class="row">
                          <div class="col-4">
                              <i class="fa fa-comment"></i>
                              <p>1256</p>
                          </div>
                          <div class="col-4">
                              <i class="fa fa-user"></i>
                              <p>8562</p>
                          </div>
                          <div class="col-4">
                              <i class="fa fa-suitcase"></i>
                              <p>189</p>
                          </div>
                      </div>
                  </div>
                  <p class="m-t-15 text-muted"></p>
                  <hr>
                  <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                      <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                      <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                  </div>
              </div>
          </div>
      </div>


      <div class="col-md-4">
        <div class="card user-card">
            <div class="card-header">
                <h5>Nome</h5>
            </div>
            <div class="card-block">
                <div class="user-image">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Nome</h6>
                <p class="text-muted">Função</p>
                <hr>
                <p class="text-muted m-t-15">Taxa de Vitórias : 0%</p>
                <ul class="list-unstyled activity-leval">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-comment"></i>
                            <p>1256</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-user"></i>
                            <p>8562</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-suitcase"></i>
                            <p>189</p>
                        </div>
                    </div>
                </div>
                <p class="m-t-15 text-muted"></p>
                <hr>
                <div class="row justify-content-center user-social-link">
                    <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Nome</h6>
                    <p class="text-muted">Função</p>
                    <hr>
                    <p class="text-muted m-t-15">Taxa de Vitórias : 87%</p>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="bg-c-yellow counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-comment"></i>
                                <p>1256</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-user"></i>
                                <p>8562</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-suitcase"></i>
                                <p>189</p>
                            </div>
                        </div>
                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>




