

.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: fantasy;
 
}

.btn-outline-success {
    color: rgb(255, 255, 255);
}

.body{
    background-color: black;
    background: black;
}

.navbar-brand {
    font-family: fantasy;
}