
    * {margin: 0px; padding: 0px; box-sizing: 0px;}
body {
    background: linear-gradient(to bottom, #00ccff 57%, #66ffff 100%);
}
.nav  {
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    border: none;
    background-color: black;
    width: 100%;
    height: 50px;
}
.perfil-img  {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bemvindo {
    position: absolute;
    margin-top: 15px;
    margin-left: 25px;
}
.bemvindo p{
    margin-top: 0px;
    margin-left: 20px;
    color: white;
}
.pesq input{
    position: absolute;
    width: 30%;
    height: 20px;
    margin-left: 400px;
    margin-top: 15px;
}
.pesq input:hover {
    box-shadow: 0px 6px 8px 8px black;
}
.perfil-edit p a{
    position: absolute;
    margin-left: 1100px;
    margin-top: 20px;
    color: white;
    display: inline;
}
.exit p a{
    position: absolute;
    margin-left: 1200px;
    margin-top: 20px;
    color: white;
    display: inline;
}
.ico-exit  {
    position: absolute;
    margin-left: 1290px ;
    margin-top: 20px;
    color: white;
}
.search  {
    position: absolute;
    margin-left: 775px;
    margin-top: 18px;
    font-size: 15;
    color: gray;
}
ul {
    position: relative;
    border: none;
    background-color: #666699 ;
    padding: 0px;
    margin-top: 50px;
}

ul li {
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 60px;
    display: block;

}
ul li:hover  {
    background-color: lightblue;
}


ul ul {
    position: absolute;
    margin-top: 0px;
    display: none;
    background-color:#666699 ;
}

ul ul li{
    display: block;
    background-color:white ;

}


ul li:hover ul {
    display: block;
    min-width: 180px;
    background-color:white;
}


ul li:hover li a{
   color: black
}

.ic-home {
    position: absolute;
    margin-top: 8px;
    margin-left: 30px;
    font-size: 20;
    color: white;
}
.ic-game {
    position: absolute;
    margin-top: 0px;
    margin-left: 60px;
    font-size: 20;
    color: white;
}




.cardgod {
    display: inline-block;
    margin-left: 150px;
    margin-top: 50px;
    transition: all 2s ease;
}

.card2  {
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color:  #00ffff;
    box-shadow: 3px 3px 4px 2px black;

}
.lol {
    width: 200px;
    height:250px;
    border-radius: 10px;
}
.card-pro {
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: white;
    opacity: 0;
    transition: all 2s ease;

}
.lol2  {
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titlelol p{
    border: none;
    background-color: lightblue;
    width: 200px;
    height: 20px;
    text-shadow: 2px 2px 5px green ;
    font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    font-size: 14;
    text-align: center;
}

.desclol p{
    margin-top: 10px;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12.5;
    text-align: center;
}
.rodaplol  {
    position: absolute;
    border: none;
    border-bottom-left-radius: 10px;
    background-color: darkslategrey;
    width: 130px;
    height: 33px;
    margin-top: 10px;
}
.valorlol p{
    position: absolute;
    color: white;
    text-shadow: 0.2px 0px 1px white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
}
.ic-love1  {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13;
    color: white;
}
.ic-love1:hover {
    cursor: pointer;
    color: yellow;
}
.buylol button{
    position: absolute;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: grey;
    color: white;
    width:70px ;
    height: 33px;
    margin-left: 130px;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;

}

.cardgod:hover .card-pro{
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px 2px black;
}

.cardspi {
    margin-left: 150px;
    margin-top: 0px;
    transition: all 2s ease;
}
.card3  {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: #00ffff;
    box-shadow: 3px 3px 4px 2px black;
}
.warf{
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.card-pro2 {
    position: absolute;
    margin-top: 100px;
    margin-left: 300px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: white;
    opacity: 0;
    transition: all 2s ease;
}

.warf2 {
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titlewarf  p{
    border: none;
    background-color: lightblue;
    width: 200px;
    height: 20px;
    text-shadow: 2px 2px 5px green ;
    font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    font-size: 14;
    text-align: center;
}
.descwarf p{
    margin-top: 10px;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12.5;
    text-align: center;
}
.rodapwarf  {
    position: absolute;
    border: none;
    border-bottom-left-radius: 10px;
    background-color: darkslategrey;
    width: 130px;
    height: 34px;
    margin-top: 10px;
}
.valorwarf p{
    position: absolute;
    color: white;
    text-shadow: 0.2px 0px 1px white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
}
.ic-love2  {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13;
    color: white;
}
.ic-love2:hover {
    cursor: pointer;
    color: yellow;
}
.buywarf button{
    position: absolute;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: grey;
    color: white;
    width:70px ;
    height: 34px;
    margin-left: 130px;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;

}
.cardspi:hover .card-pro2 {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px 2px black;
}
.cardthel {
    margin-left: 150px;
    margin-top: 0px;
    transition: all 2s ease;
}

.card4  {
    position: absolute;
    margin-top: 100px;
    margin-left: 560px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color:  #00ffff;
    box-shadow: 3px 3px 4px 2px black;

}

.mine {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.card-pro3 {
    position: absolute;
    margin-top: 100px;
    margin-left: 560px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: white;
    opacity: 0;
    transition: all 2s ease;
}
.mine2 {
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titlemine p{
    border: none;
    background-color: lightblue;
    width: 200px;
    height: 20px;
    text-shadow: 2px 2px 5px lightgrey ;
    font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    font-size: 14;
    text-align: center;
}
.descmine p{
    margin-top: 2px;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12.5;
    text-align: center;
}
.rodapmine  {
    position: absolute;
    border: none;
    border-bottom-left-radius: 10px;
    background-color: darkslategrey;
    width: 130px;
    height: 33px;
    margin-top: 10px;
}
.valormine {
    position: absolute;
    color: white;
    text-shadow: 0.2px 0px 1px white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
}
.ic-love3  {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13;
    color: white;
}
.ic-love3:hover {
    cursor: pointer;
    color: yellow;
}
.buymine button{
    position: absolute;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: grey;
    color: white;
    width:70px ;
    height: 33px;
    margin-left: 130px;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;

}
.cardthel:hover .card-pro3 {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px 2px black;
}
.carddayg {
    margin-left: 150px;
    margin-top: 0px;
    transition: all 2s ease;
}
.card5  {
    position: absolute;
    margin-top: 100px;
    margin-left: 820px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: #00ffff;
    box-shadow: 3px 3px 4px 2px black;
}
.popu {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.card-pro4 {
    position: absolute;
    margin-top: 100px;
    margin-left: 820px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    background-color: white;
    opacity: 0;
    transition: all 2s ease;
}
.popu2 {
    width: 200px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titlepopu p{
    border: none;
    background-color: lightblue;
    width: 200px;
    height: 20px;
    text-shadow: 2px 2px 5px lightsalmon ;
    font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    font-size: 14;
    text-align: center;
}
.descpopu p{
    margin-top: 5px;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12.5;
    text-align: center;
}
.rodappopu {
    position: absolute;
    border: none;
    border-bottom-left-radius: 10px;
    background-color: darkslategrey;
    width: 130px;
    height: 34px;
    margin-top: 20px;
}
.valorpopu {
    position: absolute;
    color: white;
    text-shadow: 0.2px 0px 1px white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 10px;
}
.ic-love4  {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13;
    color: white;
}
.ic-love4:hover {
    cursor: pointer;
    color: yellow;
}
.buypopu button{
    position: absolute;
    border: none;
    border-bottom-right-radius: 10px;
    background-color: grey;
    color: white;
    width:70px ;
    height: 34px;
    margin-left: 130px;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
}
.carddayg:hover .card-pro4 {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 3px 3px 4px 2px black;
}
