<div class="row">
  <div class="col md-4" *ngFor="let produto of loja">
      <div class="card">
  <div class="ds-top"></div>
  <div class="avatar-holder">

    <img src="{{produto.avatar}}" alt="">

    <img src="" alt="">
  </div>

  <div class="name">
    <a href="" target="_blank">{{produto.name}}</a>
    <h6 title="Followers"><i class="fas fa-users"></i> <span class="followers"></span></h6>
  </div>
  <div class="button">
    <a href="#" class="btn" onmousedown="follow();">Comprar <i class="fas fa-user-plus"></i></a>
  </div>

  <div class="ds-info">
    <div class="ds posts">
      <h6 title="Number of posts">R$ <i class="fas fa-comments">{{produto.info}}</i>{{produto.valor}}<p></p></h6>
      <p></p>
    </div>
  </div>

</div>
    </div>
  </div>

