<div class="bg-dark vh-100 d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center" *ngFor="let produto of loja">
      <div class="card p-2">
          <div class="p-info px-3 py-3">
              <div>
                  <h5 class="mb-0">{{produto.name}}</h5> <span>{{produto.status}}</span>
              </div>
              <div class="p-price d-flex flex-row"> <span>R$</span>
                  <h1>{{produto.valor}}</h1>
              </div>
              <div class="heart"> <i class="bx bx-heart"></i> </div>
          </div>
          <div class="text-center p-image"> <img src="{{produto.avatar}}"> </div>
          <div class="p-about">
              <p>{{produto.info}}</p>
          </div>
          <div class="buttons d-flex flex-row gap-3 px-3"> <button class="btn btn-danger w-100">View</button> <button class="btn btn-outline-danger w-100">Buy Now</button> </div>
      </div>
  </div>
</div>

