

.main-content{
	width: 50%;
  text-align: center;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
  text-align: center;
	background-color: #020202;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#000000;
}
.login_form{
	background-color: #fff;
  text-align: center;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
  text-align: center;
	width: 100%;
  text-align: center;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
  text-align: center;
  border-bottom-color: #000000;
	box-shadow: 0 0 5px rgba(2, 2, 2, 0.4); 
	border-radius: 4px;
}
.btn{
  text-align: center;
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#050505;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #000000;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
  text-align: center;
	background-color: #000000;
	color:#fff;
}

.btnRegister {
 color: white;
  background-color: rgb(0, 0, 0);
}

.form-group {
  text-align: center;

}

.button {
	box-shadow:inset 0px 0px 6px 0px #ffffff;
	background:linear-gradient(to bottom, #7a0606 5%, #000000 100%);
	background-color:#7a0606;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:6px 40px;
	text-decoration:none;
	text-shadow:0px 2px 0px #666464;
}
.button:hover {
	background:linear-gradient(to bottom, #000000 5%, #7a0606 100%);
	background-color:#000000;
}
.button:active {
	position:relative;
	top:1px;
}