
    <section class="main-container" *ngFor="let produto of dicas">
      <div class="location" id="home">
          <h1 id="home">Fallen Dicas de AWP</h1>
          <div class="box">
            <a href="{{produto.Link}}"><img src="{{produto.avatar}}"alt="{{produto.titulo}}"></a>
            <a href="{{produto.Link2}}"><img src="{{produto.avatar2}}"alt="{{produto.titulo2}}"></a>
            <a href="{{produto.Link3}}"><img src="{{produto.avatar3}}"alt="{{produto.titulo3}}"></a>
            <a href="{{produto.Link4}}"><img src="{{produto.avatar4}}"alt="{{produto.titulo4}}"></a>
            <a href="{{produto.Link5}}"><img src="{{produto.avatar5}}"alt="{{produto.titulo5}}"></a>

            <a href="{{produto.Link6}}"><img src="{{produto.avatar6}}"alt="{{produto.titulo6}}"></a>
            <a href="{{produto.Link7}}"><img src="{{produto.avatar7}}"alt="{{produto.titulo7}}"></a>
            <a href="{{produto.Link8}}"><img src="{{produto.avatar8}}"alt="{{produto.titulo8}}"></a>
            <a href="{{produto.Link9}}"><img src="{{produto.avatar9}}"alt="{{produto.titulo9}}"></a>
            <a href="{{produto.Link10}}"><img src="{{produto.avatar10}}"alt="{{produto.titulo10}}"></a>
            <a href="{{produto.Link11}}"><img src="{{produto.avatar11}}"alt="{{produto.titulo11}}"></a>           
          </div>
      </div>


      <h1 id="myList">Trending Now</h1>
      <div class="box">


       </div>

