



body{
  color: black;
  opacity: 83%;
  background-color: rgb(255, 255, 255);
  background-image: url(assets/Wallpaper.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

}


.container {
  display: flex;
}
